

body, .middle_inner, input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]), textarea, select, option, .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type=checkbox] + span.wpcf7-list-item-label:before, .cmsmasters-form-builder .check_parent input[type=checkbox] + label:before, .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type=radio] + span.wpcf7-list-item-label:before, .cmsmasters-form-builder .check_parent input[type=radio] + label:before, .owl-pagination .owl-page, .owl-buttons > div, .cmsmasters_button, .button, input[type=submit], input[type=button], button, .cmsmasters_profile_horizontal, .cmsmasters_profile_vertical, .cmsmasters_post_timeline .cmsmasters_post_date, .cmsmasters_post_timeline .cmsmasters_post_cont, .cmsmasters_open_profile .profile_sidebar > div, .cmsmasters_open_project .project_sidebar > div, .cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li a, .cmsmasters_prev_arrow, .cmsmasters_next_arrow, #page .profile_social_icons_list .cmsmasters_social_icon, .post.cmsmasters_puzzle_type .puzzle_post_content_wrap, .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap .cmsmasters_stat .cmsmasters_stat_inner, .cmsmasters_toggles .cmsmasters_toggle_wrap, .cmsmasters_tabs .cmsmasters_tabs_list_item, .cmsmasters_notice .notice_close, .cmsmasters_pricing_table .cmsmasters_price_wrap, .cmsmasters_quotes_slider .cmsmasters_quote_icon, .cmsmasters_quotes_slider.cmsmasters_quotes_slider_type_box .owl-pagination .owl-page, #page .widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item {
    background-color: #ffffff;
}
body, input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]), textarea, select, option, .cmsmasters_likes a, .cmsmasters_comments a, .cmsmasters_likes a:hover, .cmsmasters_comments a:hover, .post_nav > span > .post_nav_link_title, .post_nav > span > a, .cmsmasters_open_profile .cmsmasters_profile_subtitle, .post.cmsmasters_puzzle_type .cmsmasters_post_footer .cmsmasters_post_wrap_info > span, .post.cmsmasters_puzzle_type .cmsmasters_post_date .published, .cmsmasters_counters .cmsmasters_counter_wrap .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_title, .cmsmasters_quotes_slider .cmsmasters_quote_subtitle, .cmsmasters_quotes_grid .cmsmasters_quote_subtitle, .search_bar_wrap button, .cmsmasters_sitemap_wrap li a, #page .widget_custom_posts_tabs_entries .cmsmasters_tabs_list_item a, .widget_tag_cloud a, .widget_archive ul li a:before, .widget_categories ul li a:before {
    color: #787878;
}
body, .header_top .meta_wrap, .cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li a, .cmsmasters_comment_item .comment-edit-link, .cmsmasters_comment_item .comment-reply-link, .cmsmasters_comment_item .cmsmasters_comment_item_date, .cmsmasters_pricing_table .cmsmasters_period, .cmsmasters_slider_project .cmsmasters_slider_project_inner .cmsmasters_project_read_more, #wp-calendar thead th {
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
}
body {
    text-align: left;
}
body {
    overflow-x: hidden;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, figure, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
html {
    height: 100%;
    overflow-x: hidden;
    position: relative;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #3065b5;
    color: #ffffff;
}